
.form-card {
    width: 430px;
    border-radius: 25px;
    overflow: hidden;   
    box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}


.card-top {
    background: #c9c3e6;
    padding: 35px;
    text-align: center;
}


.card-bottom {
    background: #8e87cc;
    padding: 40px;
}


.welcome {
    font-family: 'Kalam', cursive;
    font-size: 48px;
    margin: 0;
}


.create-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 25px;
    text-align: center;
}


label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: black;
}


input {
    width: 100%;
    padding: 12px 18px;
    margin-top: 6px;
    border: none;
    border-radius: 25px;
    background: #f1f1f1;
    outline: none;
}


.signup-btn {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-btn:hover {
    background: #333;
}


.divider {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}

.divider span {
    padding: 0 10px;
    font-size: 13px;
}


.google-circle {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-circle img {
    width: 22px;
}


.signin {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.signin a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}



